@charset "utf-8";
/* Bellagio CSS Document */


/* =universals
These rules are applied to all elements unless otherwise specified below.*/
* { margin : 0 0px 0 0; 
padding : 0; }

h2, h3, h4, h5, p, ul, ol, hr { margin : 0 0px; padding: 0em; }
.simple {
    display: inline-block;
    margin: 5px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow:    0 8px 0 #c5376d, 0 15px 20px rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 8px 0 #c5376d, 0 15px 20px rgba(0, 0, 0, .35);
    box-shadow: 0 8px 0 #c5376d, 0 15px 20px rgba(0, 0, 0, .35);
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    -moz-transition: -moz-box-shadow .1s ease-in-out;
    -o-transition: -o-box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
    font-size: 15px;
    color: #fff;
}

.simple a,span {
    
    display: inline-block;
    padding: 5px 10px;
    background-color: #ec528d;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(338, 90%, 80%, .8)), to(hsla(338, 90%, 70%, .2)));
    background-image: -webkit-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
    background-image: -moz-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
    background-image: -o-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    font-family: 'Pacifico', Arial, sans-serif;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);
    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
    -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

.simple:hover span {
    background-color: #ec6a9c;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .9), 0 0 5px rgba(255, 255, 255, .8);
}

.simple:active, .simple:focus {
    -webkit-box-shadow:    0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
    box-shadow:    0 8px 0 #c5376d, 0 12px 10px rgba(0, 0, 0, .3);
}

.simple:active span {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
}
/***** Removes the dotted outline in FireFox when image links are clicked on 
*a{font-family:"Trebuchet MS"; font-size:13px; color:#FFFFFF; text-decoration:none;}
a:hover{font-family:"Trebuchet MS"; font-size:13px; color:#FFFFFF; text-decoration:underline;}*/


/* =html */
/*This creates a persistent scroll bar in Firefox to prevent page jump*/
/*html { overflow: -moz-scrollbars-vertical !important; }*/
html { overflow-y:auto; }

/* =body */
body{
	font-family: 'Droid Sans', sans-serif;
	background: #ffffff url(../images/layout/MainBackground.jpg) top center  no-repeat;
}

div#PageContainerOuter{width: 100%; background: url() center -488px no-repeat; position:relative; }

div#PageContainer{top:15px; width: 1015px; margin: 0 auto;  }


/*************************************
	Header Styles
*************************************/
div#HeaderContainer {
	height: 137px;
	width: 100%;
	position: relative;
	z-index: 20;
	background: #000E52 url(../images/layout/Main-Background22.jpg) repeat-x;
}

div#HeaderContent{ width: 1050px; margin: 0 auto; height: 190px; background: url(../images/button/Header-Background.png) top center no-repeat; }
div#SubHeader{padding-left: 100px; float: left; margin-top:10px; height: 20px;}

div#HomeGalleryNavigation{ 
	width: 600px;
	height: 112px;
	background: url(../images/Neuromama_Finance.png) center no-repeat;
	background-size: 600px 112px;
	top: 20px;
	position: relative;
	margin: 0 auto;
}



.style1{
	font-size: 16pt;
	font-weight: bold;
	color: #004660;
	text-decoration: underline;
	text-align: center;
}
.style2{
	font-size: 15pt;
	font-weight: bold;
	color: #004660;

}
.style3{
    font-size: 12pt;
	font-style: italic;
	font-weight: bold;
	color: #004660;
}
.style4{ 
	font-size: small;
	font-style: italic;
	color: #004660;
}
.style5{ 
	font-size: 13pt;
	
	font-weight: bold;
	color: #6633CC;
}
.style6{
	font-size: 14pt;
	font-weight: bold;
	color: #000080;
}
.style7{
	font-size: 12pt;
	font-weight: bold;
	margin: center;
	color: #004660;
}

span.style1{
	font-size: 12pt;
	font-weight: bold;
	color: #FFCC00;
	text-decoration: underline;
}
span.style2{
	font-size: 11pt;
	font-weight: bold;
	color: #FFCC00;
}
span.style3{
    font-size: 11pt;
	font-style: italic;
	font-weight: bold;
	color: #FFCC00;
}
span.style4{ 
	font-size: small;
	font-style: italic;
	color: #FFCC00;
} 

/* for link style change */	
a:link.on, a:visited.on {color: #904C39; text-decoration:none;}
a:link.off, a:visited.off {color: #69563E; text-decoration:none;}
a:link.done, a:visited.done {color: #69563E; text-decoration:none;}
a.on:hover, a.off:hover, a.done:hover {text-decoration:underline;}


.NoView{display: none;}

.clearAll{ clear: both;}

/*SEARCH BAR*/

    
    /*-------------------------------------*/
    
    .cf:before, .cf:after{
      content:"";
      display:table;
    }
    
    .cf:after{
      clear:both;
    }

    .cf{
      zoom:1;
    }

    /*-------------------------------------*/	
    
    .search_neuro {
        width: 200px;       
        float: right;
        padding-right: 50px;
        margin-top: 5px;
       
    }
    
    .search_neuro input {
        width: 154px;
        height: 20px;
        padding: 5px 2px;
        float: left;    
        font: bold 10px 'lucida sans', 'trebuchet MS', 'Tahoma';
        border: 0;
        background: #eee;
        -moz-border-radius: 3px 0 0 3px;
        -webkit-border-radius: 3px 0 0 3px;
        border-radius: 3px 0 0 3px;      
    }
    
    .search_neuro input:focus {
        outline: 0;
        background: #fff;
        -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    }
    
    .search_neuro input::-webkit-input-placeholder {
       color: #999;
       font-weight: normal;
       font-style: italic;
    }
    
    .search_neuro input:-moz-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }
    
    .search_neuro input:-ms-input-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }    
    
    .search_neuro button {
		overflow: visible;
        position: relative;
        float: right;
        border: 0;
        padding: 0;
        cursor: pointer;
        height: 20px;
        width: 45px;
        font: bold 10px 'lucida sans', 'trebuchet MS', 'Tahoma';
        color: #fff;
        text-transform: uppercase;
        background: #0093BF;
        -moz-border-radius: 0 3px 3px 0;
        -webkit-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;      
        text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
    }   
      
    .search_neuro button:hover{		
        background: #e54040;
    }	
      
    .search_neuro button:active,
    .search_neuro button:focus{   
        background: #c42f2f;    
    }
    
    .search_neuro button:before {
        content: '';
        position: absolute;
        border-width: 8px 8px 8px 0;
        border-style: solid solid solid none;
        border-color: transparent #0093BF transparent;
        top: 3px;
        left: -8px;
    }
    
    .search_neuro button:hover:before{
        border-right-color: #e54040;
    }
    
    .search_neuro button:focus:before{
        border-right-color: #c42f2f;
    }    
    
    .search_neuro button::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
.inner {
	
	margin: 0px auto;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	text-align: justify;
}
.innerclear{
	
	margin: 0px auto;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	text-align: justify;
}
.innerbold{
	width: 995px;
	margin: 0px auto;
	
	text-align: justify;
}
.sidebar { float:left;
}
.right_content{
	float:right;
	position:relative; 
	width: 400px;
}
