@charset "utf-8";
/* Bellagio CSS Document */


/* =universals
These rules are applied to all elements unless otherwise specified below.*/
* { margin : 0 0px 0 0; 
padding : 0; }

h2, h3, h4, h5, p, ul, ol, hr { margin : 0 0px; padding: 0em; }
ul.simple li { padding:0px;  } 
ul.simple li a { width:128px; min-height:143px;}
ul.simple li a:hover { border:solid 8px #0291c9; }
ul.simple li a img { width:128px; height:72px; }
ul.simple span.title { font-size: 1.2em; margin-top:-3px; }
ul.simple span.description { font-size: 1.0em; }
/* Four-up games version */
ul.simple.games li a { min-height:11.5em; }
ul.simple.games span.title { font-size: 1.3em; margin-top:-1px; }

ul.cont-ul { margin-top:16px; }
ul.cont-ul.games { margin-top:8px; }
ul.cont-ul li { float:left; margin:0px 16px 16px 0px; padding:8px; }
ul.cont-ul li a { float:left; border:solid 8px #003254; }
ul.cont-ul li a img { display:block; margin-bottom: 8px; }
ul.cont-ul span.title { display:block; font-size: 1.6em; margin:12px 0 4px; line-height:1em; }
ul.cont-ul span.description { display:block; font-weight:normal; line-height:1.25em; }

/***** Removes the dotted outline in FireFox when image links are clicked on 
*a{font-family:"Trebuchet MS"; font-size:13px; color:#FFFFFF; text-decoration:none;}
a:hover{font-family:"Trebuchet MS"; font-size:13px; color:#FFFFFF; text-decoration:underline;}*/


/* =html */
/*This creates a persistent scroll bar in Firefox to prevent page jump*/
/*html { overflow: -moz-scrollbars-vertical !important; }*/
html { overflow-y:auto; }

/* =body */
body{
	font-family: 'Droid Sans', sans-serif;
	background: #ffffff url(../images/layout/MainBackground.jpg) top center  no-repeat;
}

div#PageContainerOuter{width: 100%; background: url() center -488px no-repeat; position:relative; }

div#PageContainer{top:15px; width: 1015px; margin: 0 auto;  }


/*************************************
	Header Styles
*************************************/
div#HeaderContainer {
	height: 137px;
	width: 100%;
	position: relative;
	z-index: 20;
	background: #000E52 url(../images/layout/Main-Background22.jpg) repeat-x;
}

div#HeaderContent{ width: 1050px; margin: 0 auto; height: 190px; background: url(../images/button/Header-Background.png) top center no-repeat; }
div#SubHeader{padding-left: 100px; float: left; margin-top:10px; height: 20px;}

div#HomeGalleryNavigation{ 
	width: 600px;
	height: 112px;
	background: url(../images/Neuromama_Finance.png) center no-repeat;
	background-size: 600px 112px;
	top: 20px;
	position: relative;
	margin: 0 auto;
}

.style1{
	font-size: 16pt;
	font-weight: bold;
	color: #004660;
	text-decoration: underline;
	text-align: center;
}
.style2{
	font-size: 15pt;
	font-weight: bold;
	color: #004660;

}
.style3{
    font-size: 12pt;
	font-style: italic;
	font-weight: bold;
	color: #004660;
}
.style4{ 
	font-size: small;
	font-style: italic;
	color: #004660;
}
.style5{ 
	font-size: 13pt;
	font-style: italic;
	font-weight: bold;
	color: #6633CC;
	text-decoration: underline;
}
.style6{
	font-size: 14pt;
	font-weight: bold;
	color: #000080;
}


span.style1{
	font-size: 12pt;
	font-weight: bold;
	color: #FFCC00;
	text-decoration: underline;
}
span.style2{
	font-size: 11pt;
	font-weight: bold;
	color: #FFCC00;
}
span.style3{
    font-size: 11pt;
	font-style: italic;
	font-weight: bold;
	color: #FFCC00;
}
span.style4{ 
	font-size: small;
	font-style: italic;
	color: #FFCC00;
} 

/* for link style change */	
a:link.on, a:visited.on {color: #904C39; text-decoration:none;}
a:link.off, a:visited.off {color: #69563E; text-decoration:none;}
a:link.done, a:visited.done {color: #69563E; text-decoration:none;}
a.on:hover, a.off:hover, a.done:hover {text-decoration:underline;}


.NoView{display: none;}

.clearAll{ clear: both;}

/*SEARCH BAR*/

    
    /*-------------------------------------*/
    
    .cf:before, .cf:after{
      content:"";
      display:table;
    }
    
    .cf:after{
      clear:both;
    }

    .cf{
      zoom:1;
    }

    /*-------------------------------------*/	
    
    .search_neuro {
        width: 200px;       
        float: right;
        padding-right: 50px;
        margin-top: 5px;
       
    }
    
    .search_neuro input {
        width: 154px;
        height: 20px;
        padding: 5px 2px;
        float: left;    
        font: bold 10px 'lucida sans', 'trebuchet MS', 'Tahoma';
        border: 0;
        background: #eee;
        -moz-border-radius: 3px 0 0 3px;
        -webkit-border-radius: 3px 0 0 3px;
        border-radius: 3px 0 0 3px;      
    }
    
    .search_neuro input:focus {
        outline: 0;
        background: #fff;
        -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    }
    
    .search_neuro input::-webkit-input-placeholder {
       color: #999;
       font-weight: normal;
       font-style: italic;
    }
    
    .search_neuro input:-moz-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }
    
    .search_neuro input:-ms-input-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }    
    
    .search_neuro button {
		overflow: visible;
        position: relative;
        float: right;
        border: 0;
        padding: 0;
        cursor: pointer;
        height: 20px;
        width: 45px;
        font: bold 10px 'lucida sans', 'trebuchet MS', 'Tahoma';
        color: #fff;
        text-transform: uppercase;
        background: #0093BF;
        -moz-border-radius: 0 3px 3px 0;
        -webkit-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;      
        text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
    }   
      
    .search_neuro button:hover{		
        background: #e54040;
    }	
      
    .search_neuro button:active,
    .search_neuro button:focus{   
        background: #c42f2f;    
    }
    
    .search_neuro button:before {
        content: '';
        position: absolute;
        border-width: 8px 8px 8px 0;
        border-style: solid solid solid none;
        border-color: transparent #0093BF transparent;
        top: 3px;
        left: -8px;
    }
    
    .search_neuro button:hover:before{
        border-right-color: #e54040;
    }
    
    .search_neuro button:focus:before{
        border-right-color: #c42f2f;
    }    
    
    .search_neuro button::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
.inner {
	
	margin: 0px auto;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	text-align: justify;
}
.innerclear{
	
	margin: 0px auto;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	text-align: justify;
}
.innerbold{
	width: 995px;
	margin: 0px auto;
	
	text-align: justify;
}
.sidebar { float:left;
}
.right_content{
	float:right;
	position:relative; 
	width: 400px;
}
